.tabs {
  display: flex;
  flex-wrap: wrap;

  padding-left: 61px;
}
.input {
  position: absolute;
  opacity: 0;
}
.tabs .label {
  padding: 10px 20px;
  cursor: pointer;
  color: #909399;
  border-top: 1px solid #e4e7ed;
  border-right: 1px solid #e4e7ed;
  border-left: 1px solid #e4e7ed;
  background: #fff;
  user-select: none;
}
.tabs .label:hover {
  background: #faf9f9;
}

.input:focus + .label {
  background: #fff;
}
.input:checked + .label {
  color: #409eff;
}
@media (min-width: 600px) {
  .label {
    width: auto;
  }
}
.panel {
  display: none;
  padding-bottom: 30px;
  background: #fff;
  border: 1px solid #e4e7ed;
}
@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}

.input:checked + .label + .panel {
  display: block;
}

.tabs table {
  margin-left: 20px;
  width: 98%;
}

.icon#bx-file {
  color: var(--primary-color);
}

#event {
  color: var(--primary-color);
}

.icon#dollar {
  color: var(--primary-color);
}

.nav-text#transaction {
  color: #fff;
}

.icon#dollar {
  color: #fff;
}

.sidebar li#tr:hover a {
  background-color: transparent !important;
}

.modalEvent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  height: 760px;
  /* height: 804px; */
  user-select: text;
  visibility: visible;
  overflow: auto;
  background: #fff;
  display: block;
  box-shadow: 0 0 0 100vmax #00000038;
  opacity: 0;
  visibility: hidden;
  border: none;
  border-radius: 6px;
  user-select: none;
}

.modalEvent[open] {
  opacity: 1;
  visibility: visible;
}

.modalEvent::backdrop {
  background: #00000000;
}

.modalEvent {
  padding: 20px;
  color: #303133;
  text-align: left;
}

#eventId {
  background: #f5f7fa;
}

.modalEvent .label {
  color: #606266;
  text-align: left;
  margin-top: 20px;
}

.modalEvent .inputEventName {
  background: #ffffff;
  width: 420px;
  border-radius: 5px;
  height: 40px;
  border: 1px solid #e4e7ed;
  padding: 0 0 0 13px;
  margin-top: 20px;
}

.inputEventName:focus {
  border-color: #409eff;
}

.dateTime {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dateTime input[type="date"] {
  font-size: 15px; /* Размер текста */
  padding: 12px 20px;
}

#dateTr {
  width: 195px;
  height: 40px;
}

.descriptionEvent {
  margin-top: 20px;
  width: 420px;
  height: 128px;
  outline: none;
  -moz-appearance: none;
  border: 1px solid #e4e7ed;
  border-radius: 5px;
  resize: none;
  padding: 0 0 0 13px;
  scrollbar-width: thin; /* Firefox: делает полосу прокрутки тоньше */
  scrollbar-color: #888 #f1f1f1; /* Firefox: цвет ползунка и дорожки */
  font-size: 15px;
  color: #606266;
}

.modalEvent .createButton {
  background-color: #3a8ee6;
  color: #fff;
  width: 97px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid transparent;
}

.modalEvent .createButton:hover {
  background-color: #2f86e4;
}

.modalEvent .buttons1 {
  margin-top: 20px;
}

.modalEvent table {
  margin-left: 0px;
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
}

.tableContainer {
  max-height: 150px; /* Установите максимальную высоту контейнера */
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
  scrollbar-width: thin; /* Firefox: делает полосу прокрутки тоньше */
  scrollbar-color: #888 #f1f1f1; /* Firefox: цвет ползунка и дорожки */
}

.customTable {
  width: 100%;
  height: 42px;
  border: 1px solid #dddddd;
  table-layout: fixed;
  min-width: 420px;
  border-collapse: collapse;
  margin-top: 20px;
  user-select: none;
}

.customTable th,
.customTable td {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 10px 40px;
  text-align: left;
  height: 42px;
  margin-top: 20px;
}
.customTable thead th {
  position: sticky;
  top: 0;
  color: #909399;
  z-index: 100;
  background-color: #faf8f8;
}
*/ .customTable td img:hover {
  filter: brightness(80%);
}

.modalEvent .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

#createModalEventButton {
  background-color: #3a8ee6;
  color: #fff;
  width: 97px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid transparent;
}

#createModalEventButton:hover {
  background-color: #2f86e4;
}

#createModalEventButton.disable {
  pointer-events: none;
  background-color: #409eff;
  opacity: 0.5;
}

#closeModalEvent {
  background: #82848a;
  color: #fff;
  width: 97px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 3px;
  height: 40px;
  border: none;
  margin-left: 20px;
}

#closeModalEvent:hover {
  background-color: #7b7c81;
}

.modalParticipant {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 264px;
  user-select: text;
  visibility: visible;
  overflow: auto;
  background: #fff;
  display: block;
  box-shadow: 0 0 0 100vmax #00000038;
  opacity: 0;
  visibility: hidden;
  border: none;
  border-radius: 6px;
  user-select: none;
}

.modalParticipant[open] {
  opacity: 1;
  visibility: visible;
}

.modalParticipant::backdrop {
  background: #00000000;
}

.modalParticipant {
  padding: 20px;
  color: #303133;
  text-align: left;
}

.modalParticipant .label {
  color: #606266;
  text-align: left;
  margin-top: 20px;
}

.modalParticipant .label {
  color: #606266;
  font-size: 15px;
}

.labelIdUser {
  margin-top: 0px;
  color: #606266;
  font-size: 15px;
}

#idUser {
  width: 360px;
  padding: 10px;
  height: 32px;
  border: 1px solid #faf8f8;
  border-radius: 4px;
}

#idUser:focus {
  border-color: #409eff;
}

.modalParticipant .inputEventName {
  background: #ffffff;
  width: 420px;
  border-radius: 5px;
  height: 40px;
  border: 1px solid #e4e7ed;
  padding: 0 0 0 13px;
  margin-top: 20px;
}

.radioPar {
  margin-top: 20px;
}

.buttonsParticipant {
  display: flex;
  height: 32px;
  margin-top: 30px;
}

.createParticipantButton {
  background-color: #3a8ee6;
  color: #fff;
  width: 97px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid transparent;
}

.createParticipantButton:hover {
  background-color: #2f86e4;
}

#createParticipantButton.disable {
  pointer-events: none;
  background-color: #409eff;
  opacity: 0.5;
}

.closeModalParticipant {
  background: #82848a;
  color: #fff;
  width: 97px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 3px;
  height: 40px;
  border: none;
  margin-left: 20px;
}

.closeModalParticipant:hover {
  background-color: #7b7c81;
}

#eventLabel {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 16px;
  user-select: none;
}

.editEventButton {
  background-color: #3a8ee6;
  color: #fff;
  width: 97px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid transparent;
}

.editEventButton.disable {
  pointer-events: none;
  background-color: #409eff;
  opacity: 0.5;
}

.editEventButton.Off {
  display: none;
}

.modalEvent .modalEventButton.Off {
  display: none;
}

.modalEvent {
  font-size: 15px;
  color: #606266;
}

.star {
  margin-left: -3px;
  color: #fc0000;
}

.inputEventName {
  font-size: 15px;
  color: #606266;
}

.descriptionShowEvent {
  margin-top: 20px;
  width: 420px;
  height: 128px;
  outline: none;
  -moz-appearance: none;
  border: 1px solid #e4e7ed;
  border-radius: 5px;
  resize: none;
  padding: 0 0 0 13px;
  scrollbar-width: thin; /* Firefox: делает полосу прокрутки тоньше */
  scrollbar-color: #888 #f1f1f1; /* Firefox: цвет ползунка и дорожки */
  font-size: 15px;
  color: #606266;
  user-select: none;
}

#closeModalShowEvent {
  background: #82848a;
  color: #fff;
  width: 97px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 3px;
  height: 40px;
  border: none;
  margin-left: 20px;
}

#closeModalShowEvent:hover {
  background-color: #7b7c81;
}

.userIdLabel,
#userId {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
  top: 30px;
}

.userIdLabel {
  margin-right: 15px;
}

.inputBox::placeholder {
  color: #424242;
  opacity: 1;
}
