.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

.password-recovery-container {
  width: 288px;
  height: 230px;
  border: 1px solid #606266;
  border-radius: 30px;
  padding: 19px 25px 29px 25px;
  text-align: center;
}

.password-recovery-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.password-recovery-container form {
  margin-top: 19px;
}

.password-recovery-container input[type="email"] {
  width: 231px;
  padding: 10px;
  height: 32px;
  border: 1px solid #606266;
  border-radius: 4px;
  outline: #6cc440;
  margin-top: 15px;
}

#inputEmailRecovery.email-error {
  border: 1px solid var(--error);
}

input[type="email"]::placeholder {
  font-size: 15px;
}

.input-error {
  color: var(--error);
  padding-right: 80px;
  font-size: 10px;
  position: absolute;
  display: none;
}

.input-error.view {
  position: absolute;
  display: block;
  margin-left: 13px;
  margin-top: 1px;
}

#clueText {
  font-size: 14px;
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 32px;
  margin-top: 30px;
}

.signup-button {
  background-color: var(--primary-button-color);
  color: #fff;
  width: 130px;
  border-radius: 4px;
  cursor: pointer;
  transform: translateX(3px);
  border: 3px solid transparent;
  font-size: 16px;
}

.signup-button:hover {
  background-color: var(--primary-button-color-hover);
}

.signup-button.disabled {
  background-color: var(--primary-button-color-disable);
  pointer-events: all;
  cursor: not-allowed;
}

.cancellButton {
  background: var(--secondary-button-color);
  color: #fff;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 3px;
  border: 3px solid transparent;
  font-size: 16px;
}

.cancellButton:hover {
  background-color: var(--secondary-button-color-hover);
}

.input-error-email {
  color: var(--error);
  padding-right: 80px;
  font-size: 10px;
  position: absolute;
  display: none;
}

.input-error-email.view {
  position: absolute;
  display: block;
  margin-left: 13px;
  margin-top: 1px;
}

input.active:focus {
  border: 1px solid var(--border-selected);
}
