body {
  font-family: "Roboto Regular", sans-serif;
  color: #424242;
  font-size: 14px; /* Установите размер шрифта 24 пикселя */

  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: normal; /* Сделайте текст не жирным */
}

h1 {
  font-size: 30px; /* Установите размер шрифта 24 пикселя */
  text-align: center; /* Выравнивание содержимого по центру */
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  height: 100vh; /* Высота равная 100% высоты окна браузера */
}

.auth-container {
  width: 300px; /* Ширина квадрата */
  height: 270px; /* Высота квадрата */
  border: 1px solid #424242; /* Граничная рамка */
  border-radius: 5px; /* Скругленные углы */
  margin: 0 auto; /* Центрирование по горизонтали */
  padding: 19px; /* Внутренний отступ */
  text-align: center; /* Выравнивание содержимого по центру */
}

input::placeholder,
textarea::placeholder {
  color: #c0c4cc;
}

.auth-container h2 {
  font-size: 20px;
  margin-top: 1px; /* Расстояние сверху в 1 пикселей */
  margin-bottom: 27px; /* 10px + 69px = 79px между инпутами */
}

/* Стили для формы внутри контейнера */
.auth-container form {
  margin-top: 19px;
}

/* Стили для текстовых полей и кнопки */
.auth-container input[type="email"],
.auth-container input[type="password"],
.auth-container button {
  width: 230px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #606266; /* Граничная рамка */
  border-radius: 5px; /* Скругленные углы */
}

.auth-container input[type="email"] {
  margin-bottom: 27px;
}

.auth-container input[type="password"] {
  margin-bottom: 27px;
}

.checkbox {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.checkbox input[type="checkbox"] {
  margin-right: 16px;
  transform: translateX(20px); /* Смещение вправо */
}

.checkbox label {
  margin-right: 145px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.signup-button {
  background-color: #409eff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transform: translateX(24px);
}

.register-button {
  background-color: #5da937;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
  margin-right: 24px;
}
