@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Moderustic:wght@300..800&family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Noto Sans SC";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== Colors ====== */
  --body-color: #e4e9f7;
  --primary-color: #409eff;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --light: #ffffff;
  --error: red;
  --success: #0abf30;
  --warning: #e9bd0c;
  --info: #3498db;
  --sidebar-color: #faf8f8;
  --sidebar-icon: #5b5b5b;
  --sidebar-border-selected: #00349c;
  --border: #606266;
  --border-selected: #2f86e4;
  --placeholder: #999797;
  --text: #303131;
  --link: #051ce6;
  --primary-button-color: #00349c;
  --primary-button-color-hover: #00349cc4;
  --primary-button-color-disable: #00349c56;
  --secondary-button-color: #82848a;
  --secondary-button-color-hover: #7a7a7e;
  --secondary-button-color-disable: #d7d7d8;

  /* ===== Transaction ===== */

  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  color: #303131;
  font-size: 16px;
  background: #ffffff;
}

h1,
h2 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 30px;
  padding-bottom: 35px;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  height: 100%;
  width: 90px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  border: 1px solid #e4e7ed;
}

.sidebar .image {
  min-width: 30px;
  display: flex;
  padding-left: 10px;
}

.sidebar .image-text img {
  width: 40px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: hidden;
  margin-bottom: 10px;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar li {
  height: 30px;
  margin-top: 27px;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-left: 13px;
}

.sidebar li .icon {
  font-size: 35px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sidebar-icon);
  cursor: pointer;
}

.sidebar li a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  transition: var(--text-color);
  width: 100%;
  border-radius: 6px;
}

.sidebar li .icon:hover {
  color: var(--sidebar-border-selected);
}

.sidebar .menu-bar {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .icon.activeTab {
  color: #00349c;
}

/* ===== Информация о пользователе ===== */

.userInfoContainer {
  position: absolute;
  top: 30px;
  right: 40px;
  display: flex;
  align-items: center;
  color: #5b5b5b;
}

.userIdLabel {
  display: inline-block;
  color: #5b5b5b;
  margin-right: 8px;
  font-weight: bold;
  vertical-align: middle;
}

#userId {
  display: inline-block;
  color: #5b5b5b;
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  cursor: pointer;
}

@media (max-width: 410px) {
  .userInfoContainer {
    position: static;
    margin-top: 10px;
    justify-content: center;
  }
}

/* Стиль подсказки */
.tooltip {
  position: absolute;
  background-color: #ffffff;
  color: #303131;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 16px;
  display: none;
  white-space: normal;
  border: 1px solid #dcdcdc;
  z-index: 10000;
  max-width: 220px;
  line-height: 1.5;
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
  transform: translateY(5px);
  text-align: left;
}

.tooltip.visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.sidebar .icon {
  position: relative; /* Для позиционирования подсказки относительно иконки */
}

.sidebar .nav-link {
  position: relative;
}

.sidebar li:hover .tooltip {
  display: block;
  opacity: 1;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 110px;
  padding-right: 20px;
  height: 70px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.13);
  user-select: none;
}

.buttonGetInformations {
  background-color: var(--primary-button-color);
  color: #fff;
  width: 93px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid transparent;
  font-size: 15px;
}

.buttonGetInformations:hover {
  background-color: #2d89ec;
}

.buttonGetInformations.disable {
  pointer-events: none;
  background-color: #409eff;
  opacity: 0.5;
  width: 93px;
}

.tableLabel {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 18px;
}

/* .sidebar li#tr:hover a {
  background-color: transparent !important;
} */

/* 









.sidebar header .toggle {
  position: absolute;
  top: 50%;
  left: 25px;
}


.sidebar header .image-text {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: hidden;
  min-height: 62px;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 10px;
  color: #0606d8;
}

.header-text .name {
  font-weight: 600;
  white-space: nowrap;
  font-size: 25px;
}

.sidebar li {

  margin-top: 22px;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 17px;
  align-items: center;
  margin-left: 12px;
}

.sidebar li .icon {
  font-size: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: #676767;
  transition: var(--tran-03);
}

.sidebar li a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  transition: var(--text-color);
  width: 100%;
  border-radius: 6px;
}

.sidebar li a:hover {
  background: var(--sidebar-border);
}

.sidebar .menu-bar {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-text#transaction {
  color: #424242;
  font-weight: 700;
}

.icon#dollar {
  color: #424242;
  font-weight: 700;
}

.sidebar li#tr:hover a {
  background-color: transparent !important;
}

.sidebar.close li {
  justify-content: center; 
} */

/* input[type="date"] {
  padding: 12px 20px;
  height: 40px;
  width: 150px;
  border: 1px solid #e4e7ed;
  color: #5b5b5b;
  border-radius: 5px;
  font-family: "Noto Sans SC";
}

input:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  border: 1px solid #409eff;
  outline: none;
}

input[type="date"].error {
  border: 1px solid var(--error);
} */

/* .user-id-label,
#user_id {
  position: absolute;
  right: 3cap;
  display: flex;
  align-items: center;
  top: 30px;
  color: #5b5b5b;
}

.user-id-label {
  margin-right: 35px;
} */

/* Стили для модального окна */
/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  height: 160px;
  user-select: text;
  visibility: visible;

  display: block;
  box-shadow: 0 0 0 100vmax #00000038;
  opacity: 0;
  visibility: hidden;

  border: none;
  border-radius: 6px;
  user-select: none;
} */

/* .modal::backdrop {
  background: #00000000;
}

.modal-title {
  padding-top: 15px;
  color: #303133;
  text-align: left;
  padding-left: 20px;
}

.modal p {
  padding-left: 70px;
  padding-top: 2px;
  color: #606266;
}

.modal .buttonsMod {
  padding-top: 20px;
  padding-left: 140px;
}

.modal .deleteBtn {
  background-color: #3a8ee6;
  color: #fff;
  width: 46px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid transparent;
}

.modal .closeBtn {
  background-color: #fff;
  color: #606266;
  width: 46px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  margin-left: 10px;
} */

/* Стили страницы подтверждения регистрации */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

.confRegContainer {
  width: 360px;
  height: 204px;
  border: 1px solid #606266;
  border-radius: 5px;
  padding: 19px 25px 19px 25px;
  text-align: center;
}

p {
  margin-top: 18px;
  text-align: left;
}

.regConButtons {
  display: flex;
  justify-content: flex-start;
  height: 32px;
  margin-top: 36px;
}

.authButton {
  background-color: #3a8ee6;
  color: #fff;
  width: 124px;
  border-radius: 4px;
  cursor: pointer;
  transform: translateX(3px);
  border: 3px solid transparent;
}

.authButton:hover {
  background-color: #2f86e4;
}

.cancellButtonReg {
  background: #82848a;
  color: #fff;
  width: 94px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 3px;
  border: 3px solid transparent;
  margin-left: 40px;
}

.cancellButtonReg:hover {
  background-color: #7b7c81;
}

/* Стили уведомлений */
/* Стили уведомлений */
.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
  user-select: none;
  z-index: 2000;
}

.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}

.notifications .toast {
  width: 400px;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light);
  border: 1px solid #dddddd;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  animation: show_toast 0.3s ease forwards;
  z-index: 2000;
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}

.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    width: 0%;
  }
}

.toast.success::before {
  background: var(--success);
}

.toast.error::before {
  background: var(--error);
}

.toast.warning::before {
  background: var(--warning);
}

.toast.info::before {
  background: var(--info);
}

.toast .column i {
  font-size: 1.75rem;
}

.toast.success .column i {
  color: var(--success);
}

.toast.error .column i {
  color: var(--error);
}

.toast.warning .column i {
  color: var(--warning);
}

.toast.info .column i {
  color: var(--info);
}

.toast .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}

.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
  font-size: 1.4rem;
}

.toast i:last-child:hover {
  color: #34495e;
}

.column span.title {
  font-size: 16px;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
} /* Chrome/Opera/Safari */
input:focus::-moz-placeholder {
  opacity: 0;
} /* Firefox 19+ */
input:focus:-moz-placeholder {
  opacity: 0;
} /* Firefox 4-18 */
input:focus:-ms-input-placeholder {
  opacity: 0;
} /* Internet Explorer 10+ */

input::placeholder {
  transition: opacity 1.3s;
}

.selected-row {
  background-color: #f0f0f0; /* Любой цвет фона, который вы хотите использовать */
}

.star {
  margin-left: -3px;
  color: #fc0000;
}

#ShowtimeTr {
  width: 195px;
  height: 40px;
  border: 1px solid #e4e7ed;
  padding: 0 0 0 13px;
  border-radius: 5px;
}

/* .hide::before {
  content: "+  ";
}

.show::before {
  content: "-  ";
} */

#scanner-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 400px;
  height: 400px;
}

.password-1 {
  position: relative;
}

#eye-1 {
  top: 37px;
  right: 10px;
  font-size: 1.3em;
  cursor: pointer;
  position: absolute;
}

#eye-2 {
  top: 37px;
  right: 10px;
  font-size: 1.3em;
  cursor: pointer;
  position: absolute;
}

.confRecContainer {
  width: 380px;
  height: 160px;
  border: 1px solid #606266;
  border-radius: 5px;
  padding: 19px 25px 19px 25px;
  text-align: center;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); /* Firefox 16+*/
  }
  100% {
    -moz-transform: rotate(360deg); /* Firefox 16+*/
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

.inputCountName {
  margin-top: 20px;
  width: 420px;
  height: 128px;
  outline: none;
  -moz-appearance: none;
  border: 1px solid #e4e7ed;
  border-radius: 5px;
  resize: none;
  padding: 0 0 0 13px;
}

.modalAccount {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  user-select: text;
  visibility: visible;

  background: #fff;
  display: block;
  box-shadow: 0 0 0 100vmax #00000038;
  opacity: 0;
  visibility: hidden;
  border: none;
  border-radius: 6px;
  user-select: none;
}

.modalAccount[open] {
  opacity: 1;
  visibility: visible;
}

.modalAccount::backdrop {
  background: #00000000;
}

.modalAccount {
  padding: 20px;
  color: #303133;
  text-align: left;
}

.modalAccount .label {
  color: #606266;
  text-align: left;
  margin-top: 20px;
}

.modalAccount .inputEventName {
  background: #ffffff;
  width: 420px;
  border-radius: 5px;
  height: 40px;
  border: 1px solid #e4e7ed;
  padding: 0 0 0 13px;
  margin-top: 5px;
}

.modalAccount .buttons {
  margin-top: 40px;
}

.editAccountButton {
  background-color: #3a8ee6;
  color: #fff;
  width: 97px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid transparent;
}

.editAccountButton.disable {
  pointer-events: none;
  background-color: #409eff;
  opacity: 0.5;
}

.editAccountButton.Off {
  display: none;
}

.modalAccountButton {
  background-color: #3a8ee6;
  color: #fff;
  width: 97px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid transparent;
}

.modalAccountButton.disable {
  pointer-events: none;
  background-color: #409eff;
  opacity: 0.5;
}

.modalAccountButton.Off {
  display: none;
}

.modalCreateInputDescriptionAccount {
  margin-top: 20px;
  width: 420px;
  height: 128px;
  outline: none;
  -moz-appearance: none;
  border: 1px solid #e4e7ed;
  border-radius: 5px;
  resize: none;
  padding: 0 0 0 13px;
}

.modalEditInputDescriptionAccount {
  margin-top: 5px;
  width: 420px;
  height: 128px;
  outline: none;
  -moz-appearance: none;
  border: 1px solid #e4e7ed;
  border-radius: 5px;
  resize: none;
  padding: 0 0 0 13px;
}

/* Стиль для элемента <li> при наведении */
.account-div li:hover {
  background-color: #f5f7fa; /* Цвет фона при наведении */
  cursor: pointer; /* Указатель при наведении */
}
